@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Saira+Semi+Condensed:wght@700&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
}

body {
  color: #1E1E1E;
  background-color: #F9F9F9;
  overflow-x: hidden;
}